<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Better Reddit">
    <meta name="author" content="Samuel Doiron">

    <title><%= @conn.assigns[:page_title] %> - Better Reddit</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <style><%= raw site_css() %></style>

    <script data-no-instant async defer src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
      <%= render @view_module, @view_template, assigns %>
  </body>
</html>
