html {
    font-family: 'Lato', sans-serif;
    margin: 1em;
    font-size: 16px;
    background: #f0f1f3;
}

*::selection {
    background: black;
    color: white;
}

* {
    box-sizing: border-box;
}

#instantclick-bar {
  background: #F44336;
}

body {
    width: 60rem;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.5;
}

body.is-scroll-locked {
    height: 100%;
    overflow: hidden;
}


.site-top {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: #666;
}

.logo {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
}

.logo a {
    color: black;
}

nav ul {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.listing {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}

.listing-item {
    display: flex;
    align-items: flex-start;
    padding: 1em;

    font-size: .85em;

    background: white;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.listing-item:first-child h2 {
    margin-top: 0;
}

.listing-item-title {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0;
}

.listing-item-via {
    color: #555;
}

.listing-item-data {
    color: black;
}

.listing-item-source {
    font-weight: bold;
}

.listing-item-thumbnail {
  margin-right: 1em;
  width: 5em;
  height: 5em;
  background-size: cover;
  display: block;
}

.nsfw {
  background: #F44336;
  color: white;
  padding: 0 .25em;
  margin-right: .25em;
  font-weight: bold;
}

.listing-item-score {
    font-weight: bold;
}

.listing-item-content {
    flex: 1;
}

.site-top {
    margin-left: 10em;
}

.site-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.site-sidebar {
    width: 10em;
}

.site-body main {
    flex: 1;
}

.site-sidebar > ul {
    margin: 0;
    padding: 0;
}

.site-sidebar li {
    margin-bottom: .5em;
}

.site-sidebar-item.is-current {
    font-weight: bold;
}

.site-menu-toggle {
    display: none;
}

.logo-small,
.logo-small:visited {
    display: none;
    color: white;
    padding-left: .2em;
    padding-right: .2em;
}

.site-top {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.site-top > * {
    margin-right: 1rem;
}

.site-top-sorts {
    margin-left: auto;
}

.site-top-sort {
    margin-right: 1rem;
}

.site-top-sort.is-current {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        font-size: 1.5em;
        color: white;
        background: black;
        font-weight: bold;
    }

    .site-sidebar {
        display: none;
    }

    .site-menu-toggle {
        display: block;
    }

    .site-top-sorts {
        display: none;
    }

    .site-top {
        margin-left: 0;
        margin-bottom: 1em;
    }
}

.postPreview {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;

    background: white;
    padding: 1.5rem;

    width: 38.1%; /* dat golden ratio */

    z-index: 200;
    display: none;
}

.postPreview.is-open {
    display: block;
    box-shadow: 0 16px 16px rgba(0,0,0,.2);
}

.post-title {
    font-size: 1.25em;
    margin-top: 0;
}

.post-embed {
    width: 100%;
}

.post-embed.is-iframe {
    height: 25em;
}
